    body {
        background: white;
    }
    .form {
        margin: 50px auto;
        width: 300px;
        padding: 30px 25px;
        background: white;
    }
    .logo{
        width: 150px;
    }
    h1.login-title {
        color: #666;
        margin: 0px auto 25px;
        font-size: 25px;
        font-weight: 300;
        text-align: center;
    }
    .login-input {
        font-size: 15px;
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 25px;
        height: 25px;
        width: calc(100% - 23px);
    }
    .login-input:focus {
        border-color:#6e8095;
        outline: none;
    }
    .login-button {
        color: #fff;
        background: #55a1ff;
        border: 0;
        outline: 0;
        width: 100%;
        height: 50px;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
    }
    .link {
        color: #666;
        font-size: 15px;
        text-align: center;
        margin-bottom: 0px;
    }
    .link a {
        color: #666;
    }
    h3 {
        font-weight: normal;
        text-align: center;
    }
    /* Make the image fully responsive */
    .carousel-inner img {
        height: 160px;
      }
      .banner img{
        height: 350px;
      }
      .fakeimg {
        height: 200px;
        background: #aaa;
      }
      
      .header{
        margin: auto;
        width:350px;
        padding:auto;
      }
      
      .account{
          text-align:right;
      }

      .footer{
          margin: auto;
          width:auto;
          padding: auto;
          text-align:center;     
              }
      .copy{
          padding: 15px;
      }
      html {
        scroll-behavior: smooth;
      }

      .thumbimg img{
        margin: 10px;
        width:50px;
        height: 85px;
        padding: 10px;
      }
      .title{
        text-align: center;
      }
      .static-img{
          width: 1440px;
      }
.adv img{
    width:235px;
    height:265px;
}
.no1{
    background: rgb(208, 213, 255);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 90px;
    padding-bottom: 90px;
}
      
.no1 button a{
    text-decoration: none;
    color: #fff;
}
.topoffer{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    /* padding-bottom: 10px; */
}

.topoffer-back{
    background: rgb(208, 213, 255);
}
.no-padding{
padding-right: 0;    
}

.carousel-control-prev,
.carousel-control-next{
    margin-top: 120px;
    height: 100px;
    width: 50px;
    outline: white;
    background-size: 100%, 100%;
    border: 1px solid white;
    background-color: white;
}

.carousel-control-prev-icon { 
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
    width: 30px;
    height: 48px;
}
.carousel-control-next-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}

.pro{
    margin-top: 80px;
     height: 80px;
     width: 30px;
}

.pro1{
    margin-top: 50px;
     height: 70px;
     width:25px;
}
.container{
    max-width: 1540px;;
}

.icon-container{
    padding-right: 10px;
}

.proimg img, .proimg video{ 
width: 100%;
height: 100%;
}

.prodetails{
    margin-left: 140px;
    height: 45px;
    width: 42px;
    outline: white;
    border-radius: 20px;
    background-size: 100%, 100%;
    border: 1px solid #d2edff;
    background-color: #d2edff;
} 

.disblock{
    padding: 1%;
}
.categorybar{
    padding: auto;
    margin: auto;
    justify-content:center;
    max-width: 710px;
}
.buy{
    margin-top: 15px;
    margin-left: 10px;
}
.allimg img, .allimg video{
    width: 120px;
    height: 100px;
    padding: 1%;
}
#img-zoom-container {
    position: relative;
    display: flex;
  }
  
  .img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 220px;
    height: 100px;
  }
  
  .img-zoom-result {
    border: 1px solid #d4d4d4;
    position: absolute;
    left: 475px; 
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
  }
  #img-zoom-container img:hover {
    cursor: zoom-in;
    border: 0;
}
