    body {
        background: white;
        color: #777777;
    }
    .form {
        margin: 50px auto;
        width: 300px;
        padding: 30px 25px;
        background: white;
    }
    .logo{
        width: 150px;
    }
    h1.login-title {
        color: #666;
        margin: 0px auto 25px;
        font-size: 25px;
        font-weight: 300;
        text-align: center;
    }
    .login-input {
        font-size: 15px;
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 25px;
        height: 25px;
        width: calc(100% - 23px);
    }
    .login-input:focus {
        border-color:#6e8095;
        outline: none;
    }
    .login-button {
        color: #fff;
        background: #55a1ff;
        border: 0;
        outline: 0;
        width: 100%;
        height: 50px;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
    }
    .link {
        color: #666;
        font-size: 15px;
        text-align: center;
        margin-bottom: 0px;
    }
    .link a {
        color: #666;
    }
    h3 {
        font-weight: normal;
        text-align: center;
    }
    /* Make the image fully responsive */
    .carousel-inner img {
        height: 160px;
      }
      .banner img{
        height: 350px;
      }
      .fakeimg {
        height: 200px;
        background: #aaa;
      }
      
      .header{
        margin: auto;
        width:350px;
        padding:auto;
      }
      
      .account{
          text-align:right;
      }

      .footer{
        border-top: 1px solid #e7e7e7;
          margin: auto;
          width:auto;
          padding: auto;
          text-align:center; 
              }

              .footer-middle{
                border-bottom: 1px solid #e7e7e7; 
                margin-bottom: 15px;  
                
            }

              .listremove{
                  list-style-type:none;
                  text-align: left;
            }
            .listremove li a{
                text-decoration: none;
                color: black;
          }
      .copy{
          padding: 15px;
      }
      html {
        scroll-behavior: smooth;
      }

      .thumbimg img{
        width:100%;
        border:1px solid black;
        height: 85px;
      }
      .node{
          margin: 2%;
          height: 100px;
          width:100px ;
      }
      .title{
        text-align: center;
      }
      .static-img{
          max-width: 100%;
      }
.adv img{
    width:235px;
    height:265px;
}

@media only screen and (max-width: 1400px) {
.adv{
    display: none;
}
}

.no1{
    background: rgb(208, 213, 255);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 90px;
    padding-bottom: 90px;
}
      
.no1 button a{
    text-decoration: none;
    color: #fff;
}
.topoffer{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    /* padding-bottom: 10px; */
}

.topoffer-back{
    background: rgb(208, 213, 255);
}
.no-padding{
padding-right: 0;    
}

.carousel-control-prev,
.carousel-control-next{
    margin-top: 120px;
    height: 100px;
    width: 50px;
    outline: white;
    background-size: 100%, 100%;
    border: 1px solid white;
    background-color: white;
}

.carousel-control-prev-icon { 
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
    width: 30px;
    height: 48px;
}
.carousel-control-next-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}

.pro{
    margin-top: 80px;
     height: 80px;
     width: 30px;
}

.pro1{
    margin-top: 50px;
     height: 70px;
     width:25px;
}

.pro2{
    margin-top: 140px;
     height: 70px;
     width:25px;
}

.container{
    max-width: 1540px;;
}

.icon-container{
    padding-right: 10px;
}

.proimg img, .proimg video{ 
width: 100%;
height: 100%;
}

.prodetails{
    margin-left: 140px;
    height: 45px;
    width: 42px;
    outline: white;
    border-radius: 20px;
    background-size: 100%, 100%;
    border: 1px solid #d2edff;
    background-color: #d2edff;
} 

.disblock{
    padding: 1%;
}
.categorybar{
    padding: auto;
    margin: auto;
    justify-content:center;
    max-width: 710px;
}
.buy{
    margin-top: 15px;
    margin-left: 10px;
}
.allimg img, .allimg video{
    height: 100px;
    margin: 5%;
    padding: 3%;
}
  .xzoom-thumbs{
      width: 85px;
      height: 85px;
  }
  #img_max{
      max-width: 100%;   
  }

.policy{
padding-left: 25px;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}

.minus {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;
    border: 1px solid black;
}
.plus {
    margin-right: 10px;
    background:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding:5px;
    border: 1px solid black;
}

.imgthumb img{
    margin: 2%;
    padding: 2%;
    width: 120px;
    height: 65px;
}

.releted_prod img{
    width: 150px;
    height: 120px;
}
.infoblock{
padding: 2%;
margin: 2%;
}
@media only screen and (max-width: 600px) {
    .block-html-top{
        height: 100px;
    }
}
    .quantity{
        width: 30px;
    }
.block-html-top {
    background-color: #3256f4;
}

.block-top1,.block-top2,.block-top3{
    color: #fff ;
    font-weight: 600;
   padding-top: 6px;
}
.navbar-dark .navbar-nav .nav-link{
    color: black;
}

.main{
    background-color: #ffffff;
}

.img_width{
    width: 100%;
}

.container {
    max-width: 1500px;
}
.page-title{
    font-size: 1.875rem;
    line-height: 1.2;
    color: #222529;
    letter-spacing: -.01em;
    font-weight: 700;
    margin-bottom: 0.2em;
}

.far{
    font-weight: 100;
}
.product-info-main .product-reviews-summary:after {
    content: '';
    display: block;
    width: 40px;
    border-top: 2px solid #e7e7e7;
    margin: 1rem 0 1.25rem;
}
.product-info-price {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -.02em;
    color: #222529;
    margin-bottom: 1.25rem;
}
.product-info-main .product.overview {
    font-size: 1.1428em;
    line-height: 1.6875;
    letter-spacing: -.015em;
}
.product-info-main .product.sku .value {
    display: inline-block;
    color: #222529;
    font-weight: 700;
}
.product-info-main .product.sku .type {
    font-weight: inherit;
}
.product-add-form .box-tocart {
    padding: 1.25rem 0 1rem;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1em;
    margin: 0;
}
.box-tocart .field.qty {
    margin-right: 0.5rem;
    margin-bottom: 5px;
    position: relative;
}
.box-tocart .action.tocart {
    height: 3rem;
    padding: 0 2em;
    margin-bottom: 0;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: -.015em;
    font-weight: 700;
    line-height: 3rem;
    border: none;
    background: #222529;
}
.action.primary:hover {
    background: #0088cc;
    border: 1px solid #0088cc;
    color: #ffffff;
}
html .action.primary, html .btn-primary {
    color: #fff;
    background-color: #3256f4;
    border-color: #3256f4 #3256f4 #0d35e7;
}
.product-social-links {
    margin: 20px 0 0;
    text-align: left;
    width: 100%;
}
.share-links a i{
font-size: 25px;
color:black;
}

.share-links a{
border: 1px solid black;
border-radius: 50%;
padding: 15px 8px 8px; 

    }

.tab {
    overflow: hidden;
    border-bottom: 1px solid #e7e7e7;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  /* Create an active/current tablink class */
  .tab button.active {
    font-weight: 900;
  }
  #Details{
    display:block;
  }
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }

    .sidebartitle{
        border-bottom: 1px solid #e7e7e7;
        margin-left: 60px;
    }
  .CUSTOMHTMLBLOCK{
      padding-top: 5%;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
  }
.CUSTOMIMGBLOCK{
   padding-top: 150px;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-image: url('http://localhost/lifekart/User/images/photo-1606228281437-dc226988dc3a.jpeg');
}
.widget-title{
    text-align:initial;
    margin-left: 40px;
}

.cateimg{
    /* height: 225px; */
    width: 100%;
}

.cateimg a img{
    /* height: 225px; */
    width: 180px;
}
.signupform{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(255, 255, 255);
    width: 75%;
}
.signuppage{
    padding-bottom: 10px;
background-color: rgb(182, 182, 182) ;
}

.signinform{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(255, 255, 255);
}

.signinpage{
    padding-bottom: 10px;
background-color: rgb(182, 182, 182) ;
}
.customerInfo1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    }
.customerInfo{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    }
    .profile{
        padding-bottom: 10px;
        background-color: rgb(182, 182, 182) ;
    }

    .error{
        color: red;
    }

    .customerInfo {

        display:none;
        
        }
        .card{
            box-shadow: #0099ff 0px 5px 15px;
        }

        .dash{
            padding-top: 5px;
            padding-bottom: 35px;
            background-color: #e0e0e0;
        }
        